<a href="https://colab.research.google.com/github/Arka1212/Netflix-Movies-And-TV-Shows-Clustering/blob/main/NETFLIX_MOVIES_AND_TV_SHOWS_CLUSTERING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem Statement**

This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

In 2018, they released an interesting report which shows that the number of TV shows on Netflix has nearly tripled since 2010. The streaming service’s number of movies has decreased by more than 2,000 titles since 2010, while its number of TV shows has nearly tripled. It will be interesting to explore what all other insights can be obtained from the same dataset.

Integrating this dataset with other external datasets such as IMDB ratings, rotten tomatoes can also provide many interesting findings.

## <b>In this  project, you are required to do </b>
1. Exploratory Data Analysis 

2. Understanding what type content is available in different countries

3. Is Netflix has increasingly focusing on TV rather than movies in recent years.
4. Clustering similar content by matching text-based features

# **Attribute Information**

1. show_id : Unique ID for every Movie / Tv Show

2. type : Identifier - A Movie or TV Show

3. title : Title of the Movie / Tv Show

4. director : Director of the Movie

5. cast : Actors involved in the movie / show

6. country : Country where the movie / show was produced

7. date_added : Date it was added on Netflix

8. release_year : Actual Releaseyear of the movie / show

9. rating : TV Rating of the movie / show

10. duration : Total Duration - in minutes or number of seasons

11. listed_in : Genere

12. description: The Summary description

**-------------------------------------------------------------------------------------------------------------------------------------------------------------------**

In [14]:
# IMPORTING NECESSARY LIBRARIES.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import missingno as msno
import plotly.express as px
import plotly.graph_objects as go

from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from scipy.stats import norm

import warnings
warnings.filterwarnings("ignore")

In [2]:
# MOUNTING THE DRIVE.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# COPYING PATH.
path = '/content/drive/MyDrive/Capstone Projects/Unsupervised Machine Learning/Netflix movies & TV shows clustering/NETFLIX MOVIES AND TV SHOWS CLUSTERING.csv'
df = pd.read_csv(path)

In [4]:
df.head()

# Glimpse of first 5 rows of dataset.

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

In [5]:
df.tail()

# Glimpse of last 5 rows of dataset.

     show_id  ...                                        description
7782   s7783  ...  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784  ...  A scrappy but poor boy worms his way into a ty...
7784   s7785  ...  In this documentary, South African rapper Nast...
7785   s7786  ...  Dessert wizard Adriano Zumbo looks for the nex...
7786   s7787  ...  This documentary delves into the mystique behi...

[5 rows x 12 columns]

In [6]:
# SHAPE OF DATASET.
df.shape

# Rows = 7787 & Columns = 12

(7787, 12)

In [7]:
# COLUMNS.
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [8]:
# DATASET INFORMATION.
df.info()

# Seems that there are some null or missing values in the dataset.
# Almost all the columns are categorical except the 'release_year' column which is the only one column having int64 data type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [9]:
# NULL VALUE INSPECTION.
df.isnull().sum()

# 2389 null values are present in 'director' column.
# 718 null values are present in 'cast' column.
# 507 null values are present in 'country' column.
# 10 null values are present in 'date_added' column.
# 7 null values are present in 'rating' column.

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [37]:
# NULL RATE.
for col in df.columns:
  null_rate = ((df[col].isna().sum())/len(df))*100
  if null_rate > 0:
    print("'{}' null rate ------> {}%".format(col,round(null_rate,2)))

# Null rate for 'director' column is 30.68%.
# Null rate for 'cast' column is 9.22%.
# Null rate for 'country' column is 6.51%.
# Null rate for 'date_added' column is 0.13%.
# Null rate for 'rating' column is 0.09%.

'director' null rate ------> 30.68%
'cast' null rate ------> 9.22%
'country' null rate ------> 6.51%
'date_added' null rate ------> 0.13%
'rating' null rate ------> 0.09%

In [10]:
# TOTAL NULL VALUE COUNT.
df.isnull().sum().sum()

# In total, there are 3631 null values in this particular dataset.

3631

In [11]:
# DUPLICATE VALUE COUNT.
df.duplicated().sum()

# No duplicate values are present in the dataset.

0

In [12]:
# DATA DESCRIPTION.
df.describe(include='all')

# Except one, all other columns are actually categorical so most of them don't have any min, max or quantile values.
# oldest content released in the year 1925.
# 25% of the content was added by 2013.
# 50% of the content was added by 2017.
# 75% of the content was added by 2018.

       show_id  ...                                        description
count     7787  ...                                               7787
unique    7787  ...                                               7769
top         s1  ...  Multiple women report their husbands as missin...
freq         1  ...                                                  3
mean       NaN  ...                                                NaN
std        NaN  ...                                                NaN
min        NaN  ...                                                NaN
25%        NaN  ...                                                NaN
50%        NaN  ...                                                NaN
75%        NaN  ...                                                NaN
max        NaN  ...                                                NaN

[11 rows x 12 columns]

In [28]:
# COPYING DATA.
netflix_df = df.copy()

# Copying the dataset so as to keep the original dataset intact.

## **Data Cleaning & Pre-processing**